body {
    background-image: url('http://st.gde-fon.com/wallpapers_original/333876_tekstura_fon_kontrast_1920x1200_www.Gde-Fon.com.jpg');  
    background-size: 1000px;
    font-family: Arial;
    
  }
  
  .menu {
    background-color: black;
    
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-subtitle,
  .site-title{
    text-align: center;
    color: navyblue;
  }
  
  .site-subtitle{
    font-style: italic;
  }
  
  .menu ul {
   display: flex;
   justify-content: space-around;
  }
  
  .menu li {
   list-style: none;
    
  }