* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url('https://wallpaperplay.com/walls/full/1/7/b/243233.jpg');  
    background-size: 1350px;
    height: 100vh;
    font-size: 12px;
  }

@media (min-width: 400px) {
 body {
   font-size: 14px;
 }
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
 }

 @media (min-width: 800px) {
  body {
    font-size: 18px;
  }
 }

 @media (min-width: 1000px) {
  body {
    font-size: 20px;
  }
 }
 
header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .menu {
    background-color: white;
    font-family: 'Press Start 2P', cursive;
    position:fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }

  .menu a {
    display: block;
    transition: background-color 1s, color 0.5s;
  }

  .menu a:hover {
    background-color: black;
    color: white;
  }
  
  a {a
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .titulo {
    transform: scale(0.2);
    opacity: 0;

    animation: linear 3s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo {
   100% {
    transform: scale(1);
    opacity: 1;
   }
  }

  .site-subtitle,
  .site-title{
    color: white;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
  }

  .site-subtitle{
    font-style: italic;
    font-size: 1.2em;
    line-height: 3em;
  }
  
  .menu ul {
   display: flex;
   justify-content: space-around;
  }
  
  .menu li {
   list-style: none;
    
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    background-color: white;
    color: black;
  }

  .Sobre {
    padding: 2em;
    min-height: 70vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Hobbies {
    padding: 2em;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }

  .Contato {
    padding: 2em;
    min-height: 50vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  .Sobre h2 {
    font-family: 'Press Start 2P', cursive;
    color: black;
    margin-bottom:2em;
    text-align: center;
  }

  .Sobre p {
    font-family: 'Press Start 2P', cursive;
    color: black;
    text-indent: 2em;
    margin-bottom: 1.5em;
    text-align: justify;
  }

  .Hobbies h2 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-bottom:2em;
    text-align: center;
  }

  section.Hobbies {
    background-color: black;
    padding: 2em;
    min-height: 100vh;
}

  .Hobbies .grid {
   display: grid; 
   gap: 2em;
  }

  .Hobbies figure{
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.3em;
  }

  .img-portfolio {
    height: 200px;
    width: 400px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
  }

  .img-portfolio:hover {
    transform: scale(1.1);
  }

  .Contato h2 {
    font-family: 'Press Start 2P', cursive;
    color: black;
    margin-bottom:2em;
    text-align: center;
  }

  section.Contato {
    background-color: white;
    padding: 2em;
}
  .Contato .icons {
    text-align: center;
  }

  .Contato a {
    color: black;
    font-size: 3em;
  }

  .Contato a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 10px whitesmoke;
  }

  section.Sobre {
    background-color: white;
  }


